<h1 data-ng-if="features.headline.htmlText && features.headline.level == 1"
    data-ng-bind-html="features.headline.htmlText">
</h1>
<h2 data-ng-if="features.headline.htmlText && features.headline.level == 2"
    data-ng-bind-html="features.headline.htmlText">
</h2>
<h3 data-ng-if="features.headline.htmlText && features.headline.level == 3"
    data-ng-bind-html="features.headline.htmlText">
</h3>
<h4 data-ng-if="features.headline.htmlText && features.headline.level == 4"
    data-ng-bind-html="features.headline.htmlText">
</h4>
<h5 data-ng-if="features.headline.htmlText && features.headline.level == 5"
    data-ng-bind-html="features.headline.htmlText">
</h5>
<h6 data-ng-if="features.headline.htmlText && features.headline.level == 6"
    data-ng-bind-html="features.headline.htmlText">
</h6>
<div data-ng-if="features.intro.htmlText"
     data-ng-bind-html="features.intro.htmlText"
     class="ax-local-intro-text"></div>