/** Customize header and icon color: */
.shopping-cart-widget h3 i {
  color: #00bc8c;
}
.shopping-cart-widget th {
  background-color: #00bc8c;
}
.shopping-cart-widget .app-increase-quantity {
  text-align: right !important;
}
.shopping-cart-widget .app-increase-buttons {
  padding: 0;
  padding-top: 6px;
  width: 40px;
}
.shopping-cart-widget .app-increase-buttons button {
  padding: 0;
}
