.idea
atlassian-ide-plugin.xml
*.orig
.sass-cache
/node_modules
*.backup.json
contents-*.zip
npm-debug.log

/var/build/*.map
/var/build/require_configured.js

/bower_components/*

!/bower_components/laxar-uikit/
/bower_components/laxar-uikit/*
!/bower_components/laxar-uikit/dist/
/bower_components/laxar-uikit/dist/*
!/bower_components/laxar-uikit/dist/themes
/bower_components/laxar-uikit/dist/themes/*
!/bower_components/laxar-uikit/dist/themes/default.theme
/bower_components/laxar-uikit/dist/themes/default.theme/*
!/bower_components/laxar-uikit/dist/themes/default.theme/fonts
