.idea
atlassian-ide-plugin.xml
*.orig
.sass-cache
/node_modules
*.backup.json
ShopDemo-*.zip
*~
npm-debug.log
test-results.xml
bower_components/jquery_ui/themes
bower_components/modernizr/test
bower_components/requirejs/dist/fonts
bower_components/requirejs/tests
bower_components/pouchdb

