.app-header {
  height: 60px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.app-header h1 {
  text-align: right;
}

.app-footer {
  margin-top: 1em;
}

.app-logo {
  display: block;
  width: 229px;
  height: 60px;
  background: url("../images/laxarjs-logo.svg") no-repeat;
  background-size: contain;
}

.app-flower {
  margin: 3em 0;
  background-image: url("../images/pot-flower.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
@media (max-width: 991px) {
  .app-flower {
    margin: 0;
    background-position: center;
    height: 200px;
  }
}

.app-flower-helper {
  display: block;
  height: 0;
  padding-top: 100%;
}

.app-version {
  text-align: right;
}
@media (max-width: 992px) {
  .app-version {
    text-align: left;
  }
}

.app-thanks {
  display: inline-block;
  margin-top: 165px;
}
@media (min-width: 991px) and (max-width: 1199px) {
  .app-thanks {
    margin-top: 120px;
  }
}
@media (max-width: 991px) {
  .app-thanks {
    margin-top: 0;
  }
}

h1 > a,
h1 > a:hover,
h1 > a:focus,
h1 > a:visited {
  color: currentcolor;
  text-decoration: none;
}
