<div class="container">
   <header class="app-header">
      <div class="row">
         <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="http://laxarjs.org/" class="app-logo" title="Go back to LaxarJS.org"></a></div>
         <div class="col col-lg-4 col-md-4 hidden-sm hidden-xs" data-ax-widget-area="searchBox"></div>
         <div class="col col-lg-4 col-md-4 col-sm-6 hidden-xs" data-ax-widget-area="header"></div>
      </div>
   </header>

   <div class="app-content-wrapper">
      <div class="app-content">
         <div class="row">
            <div class="col col-sm-12 visible-sm-block visible-xs-block" data-ax-widget-area="searchBox"></div>
         </div>
         <div class="row">
            <div class="col col-lg-4 col-md-4" data-ax-widget-area="content1a"></div>
            <div class="col col-lg-4 col-md-4" data-ax-widget-area="content1b"></div>
            <div class="col col-lg-4 col-md-4" data-ax-widget-area="content1c"></div>
         </div>
      </div>
      <footer class="app-footer row">
         <div class="col col-lg-12 col-md-12">
            <span class="app-laxarjs"><a href="http://laxarjs.org/" title="Go back to LaxarJS.org"><b>LaxarJS</b></a></span>,
            code licensed under the <a href="http://laxarjs.org/license" title="Show the MIT license"><b>MIT License</b></a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Show the creative commons"><b>CC BY 3.0</b></a>.<span class="app-github"><i class="fa fa-github"></i> View on <a href="https://github.com/LaxarJS/shop_demo" title="Show the source code"><b>GitHub</b></a></span><span class="app-version">ShopDemo <sup>1.2.2</sup></span>
         </div>
      </footer>
   </div>
</div>
