<h3 ng-class="{ 'app-articles': resources.cart.entries.length > 0 }">
   <i class='fa fa-shopping-cart'></i> {{ features.display.headline }}
</h3>
<table class="table table-striped"
       ng-class="{ 'app-articles': resources.cart.entries.length > 0 }">
   <colgroup>
      <col class="app-col-1">
      <col class="app-col-2">
      <col class="app-col-3">
      <col class="app-col-4">
      <col class="app-col-5">
   </colgroup>
   <thead>
      <tr data-ng-show="model.hint">
         <th class="app-no-articles" colspan="5" data-ng-bind-html="model.hint"></th>
      </tr>
      <tr data-ng-show="!model.hint">
         <th data-ng-bind-html="features.display.htmlIdLabel" ></th>
         <th data-ng-bind-html="features.display.htmlNameLabel" ></th>
         <th class="ax-amount" data-ng-bind-html="features.display.htmlPriceLabel" ></th>
         <th class="ax-amount" colspan="2" data-ng-bind-html="features.display.htmlQuantityLabel" ></th>
      </tr>
   </thead>
   <tbody>
      <tr data-ng-repeat="item in resources.cart.entries track by item.article.details.id">
         <td>{{ item.article.details.id }}</td>
         <td>{{ item.article.details.name }}</td>
         <td class="ax-amount">{{ item.article.details.price | currency : "€ " }}</td>
         <td class="ax-amount app-increase-quantity">{{ item.quantity }}</td>
         <td class="app-increase-buttons">
            <button class="btn btn-link" type="button" data-ng-click="increaseQuantity( $index )"
                data-ng-bind-html="features.display.htmlAddItemLabel"></button>
            <button class="btn btn-link" type="button" data-ng-click="decreaseQuantity( $index )"
                data-ng-bind-html="features.display.htmlDeleteItemLabel"></button>
         </td>
      </tr>
      <tr data-ng-show="model.hint">
         <td colspan="5">&nbsp;</td>
      </tr>
   </tbody>
   <tfoot data-ng-show="!model.hint">
      <tr>
         <td></td>
         <td data-ng-bind-html="features.display.htmlSumLabel" ></td>
         <td class="ax-amount" >{{ resources.cart.sum | currency : "€ " }}</td>
         <td colspan="2" ></td>
      </tr>
   </tfoot>
</table>
<button class="btn btn-default btn-success pull-right"
        type="button"
        data-ng-hide="model.hint"
        data-ng-click="performOrder()"
        data-ng-bind-html="features.cart.order.button.htmlLabel"></button>
