@charset "UTF-8";

@import "variables_all";
@import url(http://fonts.googleapis.com/css?family=Exo+2:500,200);

$app-laxarjs-logo: "../images/laxarjs_logo.png";
$app-laxarjs-logo-height: image-height( $app-laxarjs-logo );
$app-header-height: 115px;
$app-laxarjs-logo-offset: floor(( $app-header-height - $app-laxarjs-logo-height ) / 2 );

html,
body {
   padding: 0;
   margin: 0;
}

body {
   background: url(../images/bg_header_shadow.png) no-repeat center $app-header-height #E9EBED;
}

.application-layout {

   header,
   .app-content-wrapper {
      position: absolute;
      left: 0;
      right: 0;
   }

   header {
      height: $app-header-height;
      top: 0;

      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         height: $app-header-height;
         background: #fff;
         border-bottom: 1px solid #D3D3D3;
      }
   }

   .app-content-wrapper {
      top: $app-header-height + $ax-unit-vertical * 4;
   }

   .app-header,
   .app-content,
   .app-footer {
      @include ax-application;
   }

   .app-header {
      height: $app-laxarjs-logo-height;
      line-height: $app-laxarjs-logo-height;
      background: white;
      border-bottom: 1px solid #D3D3D3;
      padding-top: $app-laxarjs-logo-offset;
      padding-bottom: $app-laxarjs-logo-offset;

      .form-group {
         margin-top: 15px;
         margin-bottom: 0;
         line-height: 1;
      }

      h1 {
         margin: 0;
         position: relative;
         bottom: 2px;
         float: right;
         width: auto;
         font-size: 55px;
         font-family: "Exo 2", Arial, sans-serif;
         font-weight: 500;
         color: #737373;
         line-height: 1;

         span {
            font-weight: 200;
         }
      }
   }

   .app-content {
      background-color: white;
      padding-top: $ax-unit-vertical-double;
      padding-bottom: $ax-unit-vertical-double;
      border: 1px solid #D3D3D3;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      border-radius: 0 50px 0 0;
   }

   h1 {
      color: #8c8c8c;
      font-family: 'Exo 2', Arial, sans-serif;
      margin-top: 126px;
   }

   h3 {
      color: #ccc;
      line-height: 50px;
      height: 50px;
      font-family: 'Exo 2', Arial, sans-serif;
      margin-top: 0;
      margin-bottom: 1em;

      i {
         font-size: 30px;
         background-color: #ccc;
         color: white;
         width: 50px;
         height: 50px;
         line-height: 50px;
         border-radius: 50px;
         text-align: center;
         margin-right: 0.2em;
      }
   }

   .app-thanks {
      margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 40px;
      height: image-height( "../images/pot_flower.png" );
      background: url( "../images/pot_flower.png" ) no-repeat right;
   }

   .app-footer {
      margin-top: $ax-unit-vertical-double;
      text-shadow: 1px  1px 0px #fff;

      &, a {
         color: #737373;
      }

      b {
         color: #8a8a8a;
      }

      a {
         border-bottom: 1px dotted #aaa;
      }

      a:hover b {
         color: $link-hover-color;
      }
   }

   .app-version {
      padding-left: $ax-unit-horizontal-double;
      padding-right: $ax-unit-horizontal-double;
   }
}
