<h3 class="ax-function-point"
    ng-class="{ 'app-articles': cart.length > 0 }"><i
   class="fa fa-shopping-cart"></i> Shopping Cart
</h3>
<table class="table table-striped"
       ng-class="{ 'app-articles': cart.length > 0 }">
   <colgroup>
      <col class="app-col-1">
      <col class="app-col-2">
      <col class="app-col-3">
      <col class="app-col-4">
      <col class="app-col-5">
   </colgroup>
   <thead>
   <tr data-ng-show="!cart.length">
      <th class="app-no-articles" colspan="5">
         Please select articles to add them to the cart!
      </th>
   </tr>
   <tr data-ng-show="cart.length">
      <th>Art. ID</th>
      <th>Article</th>
      <th class="text-right">Price</th>
      <th class="text-right" colspan="2">Quantity</th>
   </tr>
   </thead>
   <tbody>
   <tr data-ng-repeat="item in cart">
      <td class="app-col-1">{{ item.article.id }}</td>
      <td>{{ item.article.name }}</td>
      <td class="text-right">{{ item.article.price | currency : "€ " }}</td>
      <td class="text-right app-increase-quantity">{{ item.quantity }}</td>
      <td class="app-increase-buttons">
         <button class="btn btn-link" type="button"
                 data-ng-click="increaseQuantity( item )"
                ><i class='fa fa-plus-square'></i></button>
         <button class="btn btn-link" type="button"
                 data-ng-click="decreaseQuantity( item )"
                ><i class='fa fa-minus-square'></i></button>
      </td>
   </tr>
   <tr data-ng-show="!cart.length">
      <td colspan="5">&nbsp;</td>
   </tr>
   </tbody>
   <tfoot data-ng-show="cart.length">
   <tr>
      <td></td>
      <td>Subtotal</td>
      <td class="text-right">{{ sum | currency : "€ " }}</td>
      <td colspan="2"></td>
   </tr>
   </tfoot>
</table>

<div data-ng-if="cart.length"
     class="clearfix">
   <button class="btn btn-default btn-success pull-right"
           type="button"
           data-ng-click="placeOrder()"><i class="fa fa-paper-plane"></i> Order</button>
</div>