<div class="container">
   <header class="app-header">
      <div class="row">
         <div class="col col-md-4 col-sm-6 col-xs-12">
            <a href="http://laxarjs.org/" class="app-logo" title="Go back to LaxarJS.org"></a>
         </div>
         <div class="col col-md-4 hidden-sm hidden-xs" data-ax-widget-area="searchBox"></div>
         <div class="col col-md-4 col-sm-6 hidden-xs"><h1><a href="">Shop<span>Demo</span></a></h1></div>
      </div>
   </header>

   <div class="app-content-wrapper">
      <div class="app-content">
         <div class="row">
            <div class="col col-md-4" data-ax-widget-area="contentA"></div>
            <div class="col col-md-4" data-ax-widget-area="contentB"></div>
            <div class="col col-md-4" data-ax-widget-area="contentC"></div>
         </div>
      </div>
   </div>
   <footer class="app-footer row">
      <div class="col col-md-8">
         <span class="app-laxarjs"><a href="http://laxarjs.org/" title="Go back to LaxarJS.org"><b>LaxarJS</b></a></span>, code licensed under the <a href="http://laxarjs.org/license" title="Show the MIT license"><b>MIT License</b></a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Show the creative commons"><b>CC BY 3.0</b></a>.
      </div>
      <div class="col col-md-4 app-version">
         <span>ShopDemo
            <sup>2.0.0-pre</sup>
         </span>
         <a href="https://github.com/LaxarJS/shop-demo"><i class="fa fa-github"></i> <b>GitHub</b></a>
         <a href="javascript:window.goDevelop()"><i class="fa fa-cube"></i> <b>Developer Tools</b></a>
      </div>
   </footer>
</div>
