
.shopping-cart-widget .app-increase-quantity {
   text-align: right !important;
}

.shopping-cart-widget .app-increase-buttons {
   padding: 0;
   padding-top: 3px;
   position: relative;
}

.shopping-cart-widget .app-increase-buttons button {
   float: left;
   padding: 0;
   line-height: 14px;
}

.shopping-cart-widget .app-col-5 {
   width: 20px;
}
